databricks-datafactory-alura/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "databricks-datafactory-alura"
		},
		"databricks_datafactory_link_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'databricks_datafactory_link'"
		},
		"databricks_datafactory_link_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0926-030845-264nac6m"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/databricks_datafactory_link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1846214852559894.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('databricks_datafactory_link_accessToken')]"
					},
					"existingClusterId": "[parameters('databricks_datafactory_link_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingestao-camada-bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/arnoni@sigeweb.com.br/pipelineimoveis/notebooks/inbound_to_bronze"
						},
						"linkedServiceName": {
							"referenceName": "databricks_datafactory_link",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ingestao-camada-silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingestao-camada-bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/arnoni@sigeweb.com.br/pipelineimoveis/notebooks/bronze_to_silver"
						},
						"linkedServiceName": {
							"referenceName": "databricks_datafactory_link",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_datafactory_link')]"
			]
		}
	]
}